*.AppBundle
*.blob
.*
work/
exp/
appbundle-runtime/appbundle-runtime
appbundle-runtime/binaryDependencies
cmd/pelfCreator/pelfCreator
cmd/misc/appstream-helper/appstream-helper
binaryDependencies
binaryDependencies.tar.zst
runtime
pelf
fusermount
fusermount3
TODO
