/* Color Schemes */
:root {
  /* Light theme (default) */
  --bg-color: #f0f8ff;
  --fg-color: #333333;
  --super-accent: #8c1c9b;
  --super-text: white;
  --mid-accent: #26e34f;
  --mid-text: black;
  --text-accent: #34478b;
  --header-border: #000000;
  --sidebar-border: #d3d3d3;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2f2f2f;
    --fg-color: #f0f8ff;
    --super-accent: #8c1c9b;
    --super-text: #2f2f2f;
    --mid-accent: #26e34f;
    --mid-text: #2f2f2f;
    --text-accent: #34478b;
    --header-border: #d3d3d3;
    --sidebar-border: #555555;
  }
}
