/* Color Schemes */
:root {
  /* Light theme (default) */
  --bg-color: #FFFFF7;
  --fg-color: black;
  --super-accent: rgb(100,135,220);
  --super-text: white;
  --mid-accent: #d7d7d7;
  --mid-text: black;
  --text-accent: rgb(0,102,204);
  --header-border: black;
  --sidebar-border: #ddd;
}
/* Dark theme */
/* TODO: Make it so that our dark theme is consistent with the light one, we must make it blue, not orange */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #17181c;
    --fg-color: white;
    --super-accent: #1b3575;
    --super-text: white;
    --mid-accent: #c85300;
    --mid-text: white;
    --text-accent: #52b1ff;
    --header-border: #666666;
    --sidebar-border: #3a3a3a;
  }
}
